type file
id RunMongoRun
description
    Migrate your mongo scripts in style
version
    0.1.0
authors
    Chet Husk, Thomas Phipps
summary
    Migrate your mongo scripts in style
projecturl http://github.com/baronfel/mongomigrator
tags
    mongo
files
    merged/runmongorun.exe ==> tools